@use 'mixins';
@use 'styleGuide';
//@use 'app-mobile';

@media (min-width: 700px) {
  .app-grid {
    display: grid;
    grid-template-columns: auto 730px auto;
    grid-template-rows: 70px 240px 93px auto 125px;
    min-height: 100vh;
  }

  .app-buttonBookmark{
    width: 190px;
  }

  .app-line {
    width: 1px;
    height: 64px;
  }

  .app-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .app-progressBar {
    width: 633px;
    margin-top: 40px;
  }

  .app-hamburger {
    display: none;
  }

  .app-itemsMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    font-size: 14pt;
    font-weight: 400;
    cursor: pointer;
  }

  .app-menu {
    margin: 0 167px 0 167px;
    grid-column: 1 / 4;
  }

  .app-block {
    padding: 50px;
    gap: 50px;
  }

  .app-subtitle {
    margin: 25px 0 44px;
  }

  .app-logo {
    margin-top: -78px;
    margin-bottom: 35px;
  }

  .app-modal-content {
    width: 732px;
  }
}

.app-header {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  background: #f6d580;
  background-image: url(../images/image-hero-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.app-menu {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: flex-end;
  justify-content: space-between;
}

.app-crowdfund {
  width: 80%;
  font-size: 24pt;
  font-weight: 700;
}


.app-content {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  gap: 26px;
  display: flex;
  flex-direction: column;
}

.app-block {
  background-color: white;
  border-radius: 6px;
  border: 2px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
}

.app-buttonModalWindow {
  @include mixins.button(56px);
  width: 205px;
}

.app-buttonBookmark {
  background-color: styleGuide.$moderateCyan;
  
  height: 56px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(112, 112, 112);
  font-weight: styleGuide.$fontWeightLarge;
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

.app-buttonBookmarked {
  color: styleGuide.$darkCyan;
  circle {
    fill: styleGuide.$darkCyan;
  }
  path {
    fill: white;
  }
}

.app-buttonBookmark-text {
  text-align: center;
  flex-grow: 1;
}

.app-buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-titleBlock {
  text-align: center;
}

.app-logo {
  width: 56px;
  align-self: center;
}

.app-closeSign {
  width: 16px;
  align-self: flex-end;
  cursor: pointer;
}

.app-closeSign:hover path {
  opacity: 1;
}



.app-countPart {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 10px;
}

.app-countText {
  font-size: 24pt;
  font-weight: 700;
  color: black;
}

.app-line {
  background-color: darkgray;
}

.app-progressBar {
  height: 12px;
  background-color: rgb(214, 214, 214);
  border-radius: 6px;
  
}

.app-progressBarActive {
  height: 12px;
  background-color: styleGuide.$moderateCyan;
  border-radius: 6px;
}

.app-rewards {
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.app-modal {
  @include mixins.modal;
}

.app-modal-content {
  @include mixins.modal-content;
  height: 90%;
  overflow: auto;
}
