@use 'styleGuide';

@mixin button($height) {
  background-color: styleGuide.$moderateCyan;
  height: $height;
  border-radius: ($height / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: styleGuide.$fontWeightLarge;
  cursor: pointer;

  &:hover {
    background-color: styleGuide.$darkCyan;
  }
}

@mixin modal {
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.623); /* Black w/ opacity */
  justify-content: center;
}

@mixin modal-content {
  background-color: #fefefe;
  margin: auto;
  border-radius: 1px solid rgb(221, 220, 220);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin app-title {
  display: flex;
  width: 100%;
}
