@use 'mixins';
@use 'styleGuide';

@media (max-width: 699px) {
  .reward-block-modal {
    width: 280px;

    .reward-row {
      display: grid;
      grid-template-columns: 20px auto;
      grid-template-rows: auto auto;
      text-align: left;
      align-items: center;
      row-gap: 5px;
      column-gap: 20px;
    }

    .reward-title-modal {
      grid-column: 2;
      grid-row: 1;
    }

    .reward-pledge {
      grid-column: 2;
      grid-row: 2;
    }

    .container {
      grid-column: 1;
      grid-row: 1 / 3;
    }
  }

  .reward-block {
    width: 280px;
    height: 370px;
    flex-direction: column;
    align-items: flex-start;

    .reward-row {
      flex-direction: column;
      gap: 5px;
    }
  }

  .reward-text {
    text-align: left;
  }
}

@media (min-width: 700px) {
  .reward-block-modal {
    width: 634px;

    .reward-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      order: 0;
      width: 75%;
      gap: 20px;
    }
  }

  .reward-block {
    width: 634px;
    height: 247px;
    flex-direction: row;
    align-items: center;
  }

  .reward-button {
    margin-left: 292px;
  }

  .reward-row {
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .reward-text {
    text-align: center;
  }
}

.reward-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.reward-left-count {
  font-size: 24pt;
  font-weight: styleGuide.$fontWeightLarge;
  color: black;
}

.reward-pledge {
  color: styleGuide.$moderateCyan;
  font-weight: styleGuide.$fontWeightMedium;
}

.reward-block-inactive {
  opacity: 0.5;
}

.reward-block {
  border-radius: 6px;
  border: 2px solid rgb(221, 221, 221);
  display: flex;
  flex-wrap: wrap;
  padding: 33px;
  justify-content: space-between;

  .reward-row {
    width: 100%;
  }

  .reward-text {
    font-size: 16px;
    display: flex;
    order: 0;
  }

  .reward-button {
    @include mixins.button(48px);
    width: 157px;
    display: flex;
    order: 2;
  }

  .reward-button.reward-button-inactive {
    background-color: black;
    cursor: default;
  }
}

.reward-block-modal {
  border-radius: 6px;
  border: 2px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .reward-left {
    padding: 33px 0 0 33px;
  }

  .reward-row {
    cursor: pointer;
    padding: 33px 0 0 20px;
  }

  .reward-row:hover {
    color: styleGuide.$darkCyan;
    font-weight: styleGuide.$fontWeightLarge;
  }

  .reward-modal-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    order: 2;
    width: 100%;
    cursor: pointer;
    border-top: 2px solid rgb(235, 235, 235);
    padding: 20px 33px 20px 33px;
  }

  .reward-text {
    font-size: 16px;
    display: flex;
    order: 1;
    padding: 20px 33px 33px 33px;
  }

  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 50%;
  }

  .container input:checked ~ .checkmark {
    background-color: white;
    border-color: rgb(209, 209, 209);
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark::after {
    top: 4px;
    left: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: styleGuide.$moderateCyan;
  }

  .reward-modal-input-outline {
    width: 100px;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #3cb4ac;
    height: 48px;
    border-radius: 24px;
  }

  .reward-modal-input {
    border: 0;
    width: 40px;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
  }

  .reward-button {
    @include mixins.button(48px);
    width: 157px;
    display: flex;
    order: 2;
  }
}

.reward-block-modal:not(.reward-block-inactive):hover {
  .reward-title-modal,
  .reward-pledge {
    color: styleGuide.$moderateCyan;
    font-weight: styleGuide.$fontWeightLarge;
  }
}
