@use 'mixins';
@use 'styleGuide';

.reward-block {
  border-radius: 6px;
  border: 2px solid rgb(221, 221, 221);
  width: 634px;
  height: 247px;
  gap: 34px;
  display: flex;
  flex-direction: column;
  padding: 33px;
}

.reward-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reward-button {
  @include mixins.button(48px);
  width: 157px;
}

.reward-pledge {
  color: styleGuide.$moderateCyan;
  font-weight: styleGuide.$fontWeightLarge;
}

.reward-left-count {
  font-size: 24pt;
  font-weight: styleGuide.$fontWeightLarge;
  color: black;  
}

.reward-left {
  display: flex;
  align-items: center;
  gap: 5px;
}