@use 'mixins';
@use 'styleGuide';

@media  (max-width: 699px){
  .success-modal-content {
    width: 325px;
    height: 382px;
    padding: 33px 28px 42px 28px;
  }

  .success-title {
    font-size: 22px;
  }

  .success-text {
    line-height: 1.5;
  }
}

@media  (min-width: 700px){
  .success-modal-content {
    width: 542px;
    height: 451px;
    padding: 50px;
    gap: 30px;
    
  }

  .success-text {
    line-height: 2;
  }

  .success-title {
    font-size: 24px;
  }

}


.success-block {
  display: flex;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.623); /* Black w/ opacity */
  justify-content: center;
}

.success-check {
  align-self: center;
}

.success-modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid rgb(221, 220, 220);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.success-text {
  font-size: 16px;
  display: flex;
  order: 0;
  
  text-align: center;
}

.success-title {
  color: black;
  font-weight: 700;
}

.success-modal-button {
  @include mixins.button(50px);
  width: 108px;
}